# Streamlit-App & Web-Frontend
streamlit

# OpenAI API Client
openai
arxiv

# Web Scraping
requests
beautifulsoup4
lxml
feedparser
selenium
bs4

# PDF-Verarbeitung
PyPDF2
pdfplumber

# Daten & Analyse
pandas

# Caching & Datenbanken
sqlite3  # Hinweis: Wird direkt mit Python mitgeliefert, kein Pip-Eintrag nötig


python-docx   
os 
requests
re 
logging
datetime 
time
functools
pickle
hashlib
locale
json
collections
docx
spacy
